/*GOOGLE FONT & RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#ffffff;
    color:#1e293b;
    line-height:1.7;

}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}
/*COMMON CLASS*/

.container{
    width:90%;
    max-width:1400px;
    margin:auto;
}

.section-title{
    font-size:46px;
    font-weight:800;
    text-align:center;
    color:#111827;
    margin-bottom:15px;
}
.section-subtitle{
    text-align:center;
    color:#6b7280;
    font-size:18px;
    max-width:700px;
    margin:0 auto 70px;
}


/* BUTTON*/

.btn,
.hero-btn{
    display:inline-block;
    background:#2563eb;
    color:#fff;
    padding:14px 34px;
    border-radius:10px;
    font-weight:600;
    transition:.35s;
}

.btn:hover,
.hero-btn:hover{
    background:#1d4ed8;
    transform:translateY(-3px);
}

/* NAVBAR STYLE START*/

header{
    background:#fff;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 3px 10px rgba(0,0,0,.05);
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:82px;
}



.nav-links{
    display:flex;
    gap:35px;
}

.nav-links a{
    color:#374151;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#2563eb;
}

/* HERO SECTION STYLE START */

.hero{

    background:
    linear-gradient(rgba(0,0,0,.72),
    rgba(0,0,0,.72)),
    url("./assets/banner.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:92vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.overlay{
    width:100%;
}

.hero-content{
    text-align:center;
    color:#fff;
}

.hero-content h1{
    font-size:74px;
    font-weight:900;
    line-height:1.1;
    margin-bottom:30px;
}

.hero-content span{
    color:#ffffff;
    font-style:italic;
}

.hero-content p{
    max-width:760px;
    margin:auto;
    font-size:20px;
    color:#d1d5db;
    margin-bottom:45px;
  
}
.hero-content a{
    margin-top: 120px;
}


.hero-btn{
    font-size:18px;
}
/*SPEAKERS SECTION STYLE START*/

.speakers{
    padding:110px 0;
}

.speaker-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
}

.speaker-card{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    border:1px solid #e5e7eb;
    transition:.35s;
    box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.speaker-card:hover{
    transform:translateY(-10px);
    box-shadow:0 18px 35px rgba(0,0,0,.12);
}

.speaker-card img{
    width:100%;
    height:400px;
    object-fit:cover;
}

.speaker-info{
    padding:28px;
}

.tag{

    display:inline-block;
    color:#2563eb;
    font-size:16px;
    font-weight:700;
}

.speaker-info h3{
    font-size:28px;
    color:#111827;
    margin-bottom:12px;
}

.speaker-info p{
    color:#6b7280;
    font-size:16px;
}
