/*GOOGLE FONT & RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#ffffff;
    color:#1e293b;
    line-height:1.7;

}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}
/*COMMON CLASS*/

.container{
    width:90%;
    max-width:1400px;
    margin:auto;
}

.section-title{
    font-size:46px;
    font-weight:800;
    text-align:center;
    color:#111827;
    margin-bottom:15px;
}
.section-subtitle{
    text-align:center;
    color:#6b7280;
    font-size:18px;
    max-width:700px;
    margin:0 auto 70px;
}


/* BUTTON*/

.btn,
.hero-btn{
    display:inline-block;
    background:#2563eb;
    color:#fff;
    padding:14px 34px;
    border-radius:10px;
    font-weight:600;
    transition:.35s;
}

.btn:hover,
.hero-btn:hover{
    background:#1d4ed8;
    transform:translateY(-3px);
}

/* NAVBAR STYLE START*/

header{
    background:#fff;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 3px 10px rgba(0,0,0,.05);
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:82px;
}



.nav-links{
    display:flex;
    gap:35px;
}

.nav-links a{
    color:#374151;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#2563eb;
}

/* HERO SECTION STYLE START */

.hero{

    background:
    linear-gradient(rgba(0,0,0,.72),
    rgba(0,0,0,.72)),
    url("./assets/banner.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:92vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.overlay{
    width:100%;
}

.hero-content{
    text-align:center;
    color:#fff;
}

.hero-content h1{
    font-size:74px;
    font-weight:900;
    line-height:1.1;
    margin-bottom:30px;
}

.hero-content span{
    color:#ffffff;
    font-style:italic;
}

.hero-content p{
    max-width:760px;
    margin:auto;
    font-size:20px;
    color:#d1d5db;
    margin-bottom:45px;
  
}
.hero-content a{
    margin-top: 120px;
}


.hero-btn{
    font-size:18px;
}
/*SPEAKERS SECTION STYLE START*/

.speakers{
    padding:110px 0;
}

.speaker-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
}

.speaker-card{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    border:1px solid #e5e7eb;
    transition:.35s;
    box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.speaker-card:hover{
    transform:translateY(-10px);
    box-shadow:0 18px 35px rgba(0,0,0,.12);
}

.speaker-card img{
    width:100%;
    height:400px;
    object-fit:cover;
}

.speaker-info{
    padding:28px;
}

.tag{

    display:inline-block;
    color:#2563eb;
    font-size:16px;
    font-weight:700;
}

.speaker-info h3{
    font-size:28px;
    color:#111827;
    margin-bottom:12px;
}

.speaker-info p{
    color:#6b7280;
    font-size:16px;
}




/* PRICING SECTION STYLE START */


.pricing{
    padding-bottom:100PX;
    background:#ffffff;
}

.pricing-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
    margin-top:55px;
}

.price-card{
    background:#fff;
    border:1px solid #E5E7EB;
    border-radius:18px;
    padding:34px;
    transition:.35s;
    display:flex;
    flex-direction:column;
}

.price-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.plan-name{
    font-size:14px;
    color:#808080;
    font-weight:700;
    letter-spacing:1px;
    margin-bottom:10px;

}

.price-card h3{
    font-size:62px;
    line-height:1;
    font-weight:800;
    color:#142235;

}

.price-text{
    color:#8A8A8A;
    margin-top:8px;
    margin-bottom:20px;

}

.price-card hr{
    border:none;
    height:1px;
    background:#E5E7EB;
    margin-bottom:24px;

}

.price-card ul{
    list-style:none;
    flex:1;

}

.price-card ul li{
    position:relative;
    padding-left:18px;
    margin-bottom:18px;
    color:#404040;
    line-height:1.5;
}

.price-card ul li::before{
    content:"•";
    position:absolute;
    left:0;
    color:#2563EB;
    font-size:18px;
}

.pricing-btn{
    margin-top:22px;
    width:100%;
    text-align:center;
    padding:14px;
    border-radius:10px;
    border:2px solid #2563EB;
    color:#2563EB;
    font-weight:700;
    transition:.3s;

}

.pricing-btn:hover{
    background:#2563EB;
    color:#fff;

}

/* ==========================
      Featured Card
========================== */

.featured{
    background:#132233;
    border:none;
    transform:scale(1.03);

}

.featured .plan-name{

    color:#6EA8FF;

}

.featured h3{

    color:#fff;

}

.featured .price-text{

    color:#AFC3D6;

}

.featured hr{

    background:rgba(255,255,255,.12);

}

.featured ul li{

    color:#D7E0E8;

}

.featured ul li::before{

    color:#60A5FA;

}

.featured .pricing-btn{

    background:#3467F1;

    color:#fff;

    border:none;

}

.featured .pricing-btn:hover{

    background:#2453CF;

}

